extends layout

block content
  // --------------------------- Layout extended to About.pug file --------------------------- //

  //**
    * Name: Fariha Siddiqui
    * Student ID: 000880957
    * Date: 26-07-2021
    * Purpose: Assignment 1-6 of CPRG-008
    ** //

  // --------------------------- Banner --------------------------- //
  .bannergallery
    div
      h1(style='color:yellow;', <b='')
        strong
          i  Explore the World
      h1(style='font-size: x-large; color:black;')
        | Sunny Days, Flexible Stays!

  // --------------------------- Introduction --------------------------- //
  .galleryIntro
    h2
      b About Us
    h4#changingfontstyle
      | Since 2001, we have been 
      | revolutionizing the travel industry. Today, we process hundreds of queries across our 
      | platforms each year for travel information, helping thousands of travellers around the 
      | globe make confident decisions. With every query, we search hundreds of travel sites to 
      | show travellers the information they need to find the right flights, hotels, hire cars 
      | and holiday packages.
      | We&apos;ve started from a small office and have over 1,000 travel-loving 
      | teammates. 
      br
      br
      b
        i
          | Together, we make it easier for everyone to experience the world!

  // --------------------------- Displaying Pictures --------------------------- //
  .flex-container
    figure.flex-item
      img(src='/images/gallery/Bryce-Canyon-National-Park.jpg' alt='Bryce-Canyon-National-Park' width='500' height='400')
      figcaption Bryce Canyon National Park, USA

    figure.flex-item
      img(src='/images/gallery/carlsbad-caverns-national-park-ne-mexico.jpg' alt='carlsbad-caverns-national-park-ne-mexico' width='500' height='400')
      figcaption Carlsbad Caverns National Park, Mexico

    figure.flex-item
      img(src='/images/gallery/Channel-Islands-National-Park.jpg' alt='Channel-Islands-National-Park' width='500' height='400')
      figcaption Channel Islands National Park, USA

    figure.flex-item
      img(src='/images/gallery/delicate-arch-Arches-national-park.jpg' alt='delicate-arch-Arches-national-park' width='500' height='400')
      figcaption Delicate Arch, Arches National Park, USA

    figure.flex-item
      img(src='/images/gallery/devils-tower-national-monument.jpg' alt='devils-tower-national-monument' width='500' height='400')
      figcaption Devils Tower National Monument, USA

    figure.flex-item
      img(src='/images/gallery/grand-canyon-arizona.jpg' alt='grand-canyon-arizona' width='500' height='400')
      figcaption Grand Canyon Arizona, USA

    figure.flex-item
      img(src='/images/gallery/grand-tetons.jpg' alt='grand-teton' width='500' height='400')
      figcaption Grand Teton, USA

    figure.flex-item
      img(src='/images/gallery/Great-Sand-Dunes-Colorado.jpg' alt='Great-Sand-Dunes-Colorado' width='500' height='400')
      figcaption Great Sand Dunes, Colorado, USA

    figure.flex-item
      img(src='/images/gallery/Kenai-Fjords-National-Park-Alaska.jpg' alt='Kenai-Fjords-National-Park-Alaska' width='500' height='400')
      figcaption Kenai Fjords National Park, Alaska

    figure.flex-item
      img(src='/images/gallery/mesa-verde-national-park-colorado.jpg' alt='mesa-verde-national-park-colorado' width='500' height='400')
      figcaption Mesa Verde National Park, Colorado, USA

    figure.flex-item
      img(src='/images/gallery/paris.jpg' alt='Paris' width='500' height='400')
      figcaption Eiffel Tower, Paris
