extends layout

block content
  // --------------------------- Layout extended to Error.pug file --------------------------- //

  //**
    * Name: Fariha Siddiqui
    * Student ID: 000880957
    * Date: 26-07-2021
    * Purpose: Assignment 1-6 of CPRG-008
    ** //

  // --------------------------- 404 Error Message --------------------------- //
  .travel
    .cols-row
      h1.travel__title Oops! It seems you&rsquo;ve taken a wrong turn.
      h4
        b
          | We think you&apos;ve landed in a dead end. 
          br
          br
          | You can take a U-turn.
        br
      p.travel__subtitle
        b Get your journey back on track!
        br

      // ------------ Link to Home page ------------- //
      ul.travel__menu
        li.travel__menu-item
          a(href='/') Head Home
