extends layout

block content
  // --------------------------- Layout extended to Thankyou.pug file --------------------------- //
 
  //**
    * Name: Fariha Siddiqui
    * Student ID: 000880957
    * Date: 26-07-2021
    * Purpose: Assignment 1-6 of CPRG-008
    ** //  
  
  // --------------------------- Thank you Message --------------------------- //
  .travelthankyou
    .cols-row
      // ------------ Thank the person by name --------------- //
      h1.travel__title.travel__title--narrow #{name}, Thank you for reaching out to us! 
      p.travel__subtitle
        b
          | We received your request and
          br
          |  will get back to you soon!
          br
          br
          |  For any questions or concerns, 
          br
          | please email us at
          br
          |  reachout@travelagency.com.
          br
          br

      // ------------ Link to Home page ------------- //
      ul.travel__menu
        li.travel__menu-item
          a(href='/') Head Home
